*{
  margin:auto;
}
.img{
  height: 300px;
  
}
.mrg{
  margin-left: 400px;
}
.box{
  height: 700px;
  width: 600px;
  background-color: #24123d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 100px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.hd{
  color: white;
  background-color: #24123d;;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}